body {
	margin: 0;
	font-family: 'Arial', sans-serif;
	background-color: #f8f9fa;
}

.error-container {
	text-align: center;
	margin-top: 10%;
	padding: 20px;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.centered-image {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 50%;
}

h1 {
	color:  #fd7e14;
	margin: 20px 0;
}


.redirect-link {
	display: inline-block;
	margin-top: 20px;
	padding: 10px 20px;
	background-color:  #fd7e14;
	color: #ffffff;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

.redirect-link:hover {
	background-color:  #fd7e14;
}